.about .container{
	position: relative;
	padding: 3rem 15rem;
.text{
	position: relative;
	z-index: 2;
	max-width: 31.8rem;
h2{
	padding-bottom: 2rem;
span{
	display: block;
}
}
p{
	font-size: 1.7rem;
	color: #4f4f4f;
	font-family: $font3; 
}
.bth-link{
	font-size: 2.8rem;
	color: #528395;
	border: 2px solid #8da9b5;
	max-width: 27.4rem;
	width: 100%;
    display: block;
    text-align: center;
    margin-top: 3.5rem;
&:hover{
	color: #fff;
	background: #8da9b5;
}
}
}
.about-img{
	position: absolute;
	right: 0;
	top: -25.6rem;
}
}
@media screen and(max-width: 1180px){
.about .container{
	padding: 3rem 6rem;
}
}
@media screen and(max-width: 992px){
.about .container{
	padding: 3rem 2rem;
.about-img{
	right: 0;
	left:21rem;
}
}	
}
@media screen and(max-width: 768px){
.about .container{
.about-img{
	top: 4.4rem;
	left:26rem;
img{
	width: 52.9rem;
	height: 53.6rem;
}
}
}
}
@media screen and(max-width: 576px){
.about .container{ 
	padding-bottom: 60rem;
.text{
	max-width: 100%;
h2{
	text-align: center;
}
.bth-link{
	margin: 3.5rem auto auto;
}
}
.about-img{
	top: auto;
	left: -84px;
	bottom: 0;
	text-align: center;
}
}
}
 