header{
	position: relative;
	background: url(../img/bg-header.jpg) no-repeat center bottom;
	background-size: cover;
.container{
	color: #fffdf4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0 3rem 30rem;
.header-left{
	background: url(../img/bg-header-left.png) no-repeat;
	background-size: 39.4rem 31.2rem;
	min-width: 39.4rem;
	overflow: hidden;
.logo{
	width: 39.4rem;
	padding-top: 3.5rem;
	text-align: center;
img{
	width: 24.5rem;
	height: 8.3rem;
}
}
.block-name{
	position: relative;
	max-width: 39.5rem;
	width: 100%;
	background: url(../img/green-bg.png) center bottom no-repeat;
	background-size: 39.5rem 36.5rem;
	margin-top: 17.5rem;
	text-align: center;
	padding-bottom: 18rem;
.block-name-top{
	position: absolute;
	width: 0;
	height: 0;
	top: -10rem;
	border-style: solid;
	border-width: 0 19.75rem 10rem 19.75rem;
	border-color: transparent transparent rgba(129, 203, 63, 0.9) transparent;
.block1,
.block2{
	position: absolute;
	background: #ff6816;
	width: 20rem;	
	height: 2rem;
}
.block1{
	right: 100%;
	-webkit-transform: skewY(-30deg);
	    -ms-transform: skewY(-30deg);
	        transform: skewY(-30deg);
	-webkit-transform-origin: 88%;
	    -ms-transform-origin: 88%;
	        transform-origin: 88%;
}
.block2{
	-webkit-transform: skewY(30deg);
	    -ms-transform: skewY(30deg);
	        transform: skewY(30deg);
	-webkit-transform-origin: 12%;
	    -ms-transform-origin: 12%;
	        transform-origin: 12%;
}
}
}
h1{
	font-size: 5rem;
	color: #fff;
	line-height: 5rem;
	padding-bottom: 3rem;
span{
	display: block;
	font-family: $font-bold1;
}
}
.bth-link{
	background:url(../img/bth-bg.png) center center no-repeat;
	background-size: inherit;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
&:hover{
	background: #fff;
	color: #53372c;
}
}
}
.header-right{
	padding: 4.5rem 0 0 5.5rem;
.menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
li{
	padding: 1rem 1.3rem;
	text-align: center;
	border: 2px solid transparent;
a{
	text-transform: uppercase;
	font: 20px $font-bth;
	color: #fff;
	white-space: nowrap;
}
&:hover{
	border-radius: 2.3rem;
	border: 2px solid #fff;
}
}
}
}
.text{
	padding-top: 12.5rem;
	max-width: 50.9rem;
h2 span{
	display: block;
}
}
}
.mobail-menu{
	display: none;
}
.block-contour{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
.block5,
.block6{
	position: absolute;
	background: #e0e7ee;
	width: 50.01%;	
	height: 40px;
}
.block5{
	-webkit-transform: skewY(9deg);
	    -ms-transform: skewY(9deg);
	        transform: skewY(9deg);
	-webkit-transform-origin: 135%;
	    -ms-transform-origin: 135%;
	        transform-origin: 135%;
}
.block6{
	right: 0;
	-webkit-transform: skewY(-9deg);
	    -ms-transform: skewY(-9deg);
	        transform: skewY(-9deg);
	-webkit-transform-origin: -35%;
	    -ms-transform-origin: -35%;
	        transform-origin: -35%;
}
}
}
@media screen and(max-width: 1180px){
header .container{
.header-left{
	min-width: 32.4rem;
	background-size: 32.4rem 31.2rem;
.logo{
	width: 32.4rem;
}
.block-name .block-name-top{
	border-width: 0 16.75rem 10rem 16.75rem;
}
.bth-link{
	padding: 0.5rem 2.5rem;
}
}
.header-right{
	padding-left: 2.5rem;
.menu li{
	padding: 1rem 0.8rem;
}
}
}
}
@media screen and(max-width: 1000px){
header{
.container .header-right{
.menu{
	display: none;
}
.responsive{
	position: absolute;
	z-index: 105;
	background: rgba(12, 10, 8, 0.8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 50%;
	right: 0;
	top: 0;
	padding: 5rem 0 1rem 0;
	-webkit-animation: navmenumobile 0.3s ease-out;
		        animation: navmenumobile 0.3s ease-out;
}
@-webkit-keyframes navmenumobile{
	0%{
		-webkit-transform:  translateX(100%);
		        transform:  translateX(100%);
	}
	100%{
		-webkit-transform: translateY(0, 0);
		        transform: translateY(0, 0);
	}
}
@keyframes navmenumobile{
	0%{
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
	100%{
		-webkit-transform: translateY(0, 0);
		        transform: translateY(0, 0);
	}
}
.mobail-menu {
	position: absolute;
	z-index: 999;
	top: 3rem;
	right: 3rem;
	display: block;
	width: 32px;
	height: 32px;
	cursor: pointer;
	-webkit-transition: background 0.1s;
	-o-transition: background 0.1s;
	transition: background 0.1s;
span{
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	height: 4px;
	background: #fff;
	-webkit-transition: background 0s 0.1s;
	-o-transition: background 0s 0.1s;
	transition: background 0s 0.1s;
&:before,
&:after{
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: "";
	-webkit-transition-duration: 0.1s, 0.1s;
	     -o-transition-duration: 0.1s, 0.1s;
	        transition-duration: 0.1s, 0.1s;
  	-webkit-transition-delay: 0.1s, 0s;
  	     -o-transition-delay: 0.1s, 0s;
  	        transition-delay: 0.1s, 0s;
}
&:before{
	top: -12px;
	-webkit-transition-property: top, -webkit-transform;
	transition-property: top, -webkit-transform;
	-o-transition-property: top, transform;
	transition-property: top, transform;
	transition-property: top, transform, -webkit-transform;
}
&:after {
  bottom: -12px;
   -webkit-transition-property: bottom, -webkit-transform;
   transition-property: bottom, -webkit-transform;
   -o-transition-property: bottom, transform;
   transition-property: bottom, transform;
   transition-property: bottom, transform, -webkit-transform;
}
}
}


.mobail-menu.is-active span {
  background: none;
}
 
.mobail-menu.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
 
.mobail-menu.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
 
.mobail-menu.is-active span::before,
.mobail-menu.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
       -o-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
.text{
	padding-top: 10rem;
}
}
}
}

@media screen and(max-width: 768px){
header{
.container{
	padding-bottom: 15rem;
.header-right{
	padding-left: 2rem;
.responsive{
	width: 100%;
}
}
}
.block-contour{
	bottom: 30px;
}
}
}
@media screen and(max-width: 520px){
header .container{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
.header-left{
	background-size: 39.4rem 31.2rem;
	min-width: 39.4rem;
.logo{
	width: 39.4rem;
}
.block-name .block-name-top{
	border-width: 0 19.75rem 10rem 19.75rem;
}
.bth-link{
	padding: 0.5rem 3.5rem;
}
}
.header-right{
	padding-left: 0;
h2{
	text-align: center;
}
.text{
	padding-top: 0;
}
.mobail-menu{
	right: 0;
	left: 0;
	margin: auto;
	top: 26rem;
}
.mobail-menu.is-active{
	top: 3rem;
	right: 3rem;
	left: auto;
}
}
}
}
